body{
    font-family: 'Montserrat', sans-serif;
    
}
/* Main */
.main{
    display: flex;
    flex-direction: row-reverse;
    background: #E5E5E5;
    width: 1200px;
    margin:0 auto;
}
.main-content{
    background: #FFFFFF
}
/* About */
.about{
    background-color: yellow;
}

/*  Projects */
.projects{
background-color: chocolate;
}

/* Work */
.work{
    background-color: aqua;
}

/* Education */
.education{
    background-color:darkblue;
}
/* Aside */
.sidebar{
    background: #1E2939;
}